apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  labels: 
    app.kubernetes.io/instance: q
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name:  q
    app.kubernetes.io/part-of: quarkus-1  
  name: q
  namespace: quarkus-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance:  q 
  template:
    metadata: 
      labels:
        app.kubernetes.io/instance:  q
    spec:
      containers:
      - image: quay.io/jduimovich0/bootstrap:6087a60023ecbec3f7d3aa0e5f4bbcd62ec53980
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 50Mi    
        env:
        - name: GIT_REPO
          value: https://github.com/jduimovich/quarkus-1.git


